<div *ngIf="user" class="">
  <img [src]="user.avatar_url" class="avatar" />
  <h1>{{ user.login }}</h1>
  <p>{{ user.bio }}</p>
  <p>{{ user.location }}</p>
  <p>
    <a
      *ngIf="user.twitter_username"
      href="https://twitter.com/{{ user.twitter_username }}"
      >@{{ user.twitter_username }}</a
    >
  </p>
  <p>
    <a *ngIf="user.blog" href="{{ user.blog }}">{{ user.blog }}</a>
  </p>
  <div *ngIf="repositories">
    <h2>Repositories</h2>
    <ul>
      <li *ngFor="let repo of repositories">
        <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a> -
        {{ repo.language }}
      </li>
    </ul>
  </div>
</div>

<!-- 

<div class="bg-slate-800">


  <div class="my-32 h-screen bg-slate-800">
    <div class="grid h-screen place-items-center">
      <div class="flex items-center space-x-12">
        <img src="https://images.unsplash.com/photo-1673337615896-a849cef919e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80" alt="im" height="50" width="200" class="h-52 w-52 rounded-full" />
        <div class="align-middle font-sans">
          <p class="text-3xl font-bold text-white">Lorem, ipsum dolor.</p>
          <p class="text-2xl font-medium text-violet-500">Lorem, ipsum dolor. defef fwfw</p>
          <p class="text-sm font-medium text-white">🔒 location</p>
          <div class="my-2 flex h-5 w-5 border-spacing-8 items-center justify-center rounded-full bg-black text-center">
            <img src="https://img.icons8.com/fluency/512/twitter.png" class="h-4 w-4" alt="twitter" />
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="mx-20 flex items-start justify-start  ">
        <ul>
          <li class="flex space-x-5 items-center">
            <div>
              <img src="https://images.unsplash.com/photo-1673337615896-a849cef919e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80" class="h-14 w-14 rounded-lg" alt="" />
              <ul class="font-sans text-xs font-bold text-violet-500">
                <li class="">lorem1</li>
                <li>lorem2</li>
                <li>lorem3</li>
              </ul>
            </div>
  
            <div class=" space-y-3">
              <p class="font-bolf font-sans text-2xl">Lorem, ipsum.</p>
              <p class="text-sm font-semibold text-slate-600">Lorem ipsum dolor sit.</p>
              <div>
                <ul class="flex space-x-3 text-xs">
                  <li>
                    <div>
                      <p>⭐️ lorem1</p>
                      <p class="text-center text-violet-500">10</p>
                    </div>
                  </li>
                  <li>
                    <div>
                      <p>⋔ lorem1</p>
                      <p class="text-center text-violet-500">20</p>
                    </div>
                  </li>
                  <li>
                    <div>
                      <p>⏲ lorem1</p>
                      <p class="text-center text-violet-500">30</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  </div> -->
