<div *ngIf="user" class="">
  <div class="bg-slate-800">
    <div class="h-screen  space-y-20 py-16 flex flex-col md:py-32">
      <div class="grid  place-items-center">
        <div class="" >
          <div class="md:flex  justify-center mx-auto items-center space-x-12">
          
            <img
              [src]="user.avatar_url"
              alt="im"
              height="50"
              width="200"
              class="h-52 w-52 shadow-2xl  rounded-full"
            />
            <div class=" md:mt-0 mt-10 space-y-2 w-64 font-sans">
              <p class="text-3xl font-bold text-white">{{ user.login }}</p>
              <p class="text-xl font-medium md:block hidden  text-violet-500">{{ user.bio }}</p>
              <p class="text-sm font-medium text-white">🔒 {{ user.location }}</p>
              <div class="flex my-2 space-x-3" 
                *ngIf="user.twitter_username"
              >
                <div
                  class="flex h-5 w-5 align-middle border-spacing-8 items-center justify-center rounded-full bg-black text-center"
                >
                  <img
                    src="https://img.icons8.com/fluency/512/twitter.png"
                    class="h-4 w-4"
                    alt="twitter"
                  />
                </div>
                <a
                  class="font-sans flex align-middle items-center text-sm text-violet-500"
                  href="https://twitter.com/{{ user.twitter_username }}"
                  >@{{ user.twitter_username }}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="grid" (keydown)="handleKeyboardEvent($event)" *ngIf="repositories">
        <div class="mx-auto flex items-start justify-start">
          <ul class="grid md:grid-cols-2 lg:grid-cols-3 grid-cols-1 gap-8">
            <li
              class="flex space-x-5 w-96 h-40 bg-slate-900 rounded-lg hover:shadow-2xl px-2 cursor-pointer py-2 shadow-lg"
              (click)="openRepo(repo.html_url)"
              *ngFor="let repo of getCurrentPageRepos()"
            >
              >
              <div class="w-20 m-1">
                <img
                  src="{{ repo.img_rng }}"
                  class="h-20 w-20 rounded-lg"
                  alt=""
                />
                <div
                  class="font-sans text-center text-xs h-14 mt-5 overflow-hidden font-medium text-violet-500"
                >
                  <!-- <li *ngFor="let topic of repo.topics.slice(0, 3)" class=""> -->
                  {{ repo.language }}
                  <!-- </li> -->
                </div>
              </div>
              <div class="space-y-1 w-72">
                <p
                  class="font-sans text-2xl h-8 overflow-hidden font-bold text-white"
                >
                  {{ repo.name }}
                </p>
                <p class="text-sm font-normal text-violet-300">
                  {{ repo.description.slice(0, 100) }}
                </p>
                <div>
                  <ul class="flex space-x-2 h-8 text-sm text-white">
                    <li>
                      <div>
                        <p>⭐️ Star</p>
                        <p class="text-center text-violet-500">
                          {{ repo.stargazers_count }}
                        </p>
                      </div>
                    </li>
                    <li>
                      <div>
                        <p>⋔ Forks</p>
                        <p class="text-center text-violet-500">
                          {{ repo.forks_count }}
                        </p>
                      </div>
                    </li>
                    <li>
                      <div>
                        <p>⏲ Issues</p>
                        <p class="text-center text-violet-500">
                          {{ repo.open_issues_count }}
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>

              <!-- {{ repo.name }} -->
            </li>
          </ul>

          <!-- <ul class="grid grid-cols-3 gap-8">
            <li
              *ngFor="let repo of repositories"
              class="flex space-x-5 w-96 h-40 bg-slate-900 rounded-lg hover:shadow-2xl px-2 py-2 shadow-lg"
            </li>
          </ul> -->
        </div>
      </div>
      <div class="flex mb-16 justify-center space-x-6 items-center">
        <button
          class="bg-slate-900 rounded-md text-white py-2 px-4 hover:bg-slate-600 transition-all duration-300 ease-in-out transform hover:-translate-x-1"
          (click)="onPreviousPage()"
          [disabled]="currentPage === 1"
          [hidden]="currentPage === 1"
        >
          Previous
        </button>

        <ul class="flex space-x-4">
          <li
            class="h-8 w-8 rounded-md px-3 py-1 bg-slate-900 text-white text-center font-medium hover:bg-slate-600 cursor-pointer"
            [class.bg-slate-700]="currentPage === pageNum"
            (click)="handlePageChange(pageNum)"
            *ngFor="let pageNum of pages"
          >
            <a
              class="text-white"
              >{{ pageNum }}</a
            >
          </li>
        </ul>

        <button
          class="bg-slate-900 rounded-md text-white py-2 px-4 hover:bg-slate-600 transition-all duration-300 ease-in-out transform hover:translate-x-1"
          (click)="onNextPage()"
          [disabled]="currentPage === getTotalPages()"
          [hidden]="currentPage === getTotalPages()"
        >
          Next
        </button>
      </div>
    </div>
  </div>
</div>
<!-- 
<div *ngIf="repositories">
  <h2>Repositories</h2>
  <ul>
    <li *ngFor="let repo of repositories">
      <a [href]="repo.html_url" target="_blank">{{ repo.name }}</a> -
      {{ repo.language }}
    </li>
  </ul>
</div> -->
